form(method="POST" action="/new")
    h1 Form 
    label(for="name") Name: 
    input#name(type="text" name="name" required)
    br
    label(for="messageText") Message:
    input#messageText(type="text" name="messageText" required)
    button(type="submit") Submit